__pycache__/
*.pyc
.venv/
venv/
data/raw/*
data/processed/*
models/*
reports/metrics/*
reports/guideline_extracted.txt
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!reports/metrics/.gitkeep
